//----- BEM Mixins -----//
//Block Element Modifier
//e = Element
@mixin e($element){
  &__#{$element} {
    @content;
  }
}

//m = Modifier
@mixin m($modifier) {
  &--#{$modifier} {
    @content;
    }
}


//----- Media Queries -----//
@mixin media($break) {
  @if $break == "small" {
    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
      @content;
    }
  }
  @else if $break == "medium" {
    @media (min-width: $breakpoint-md + 1) {
      @content;
    }
  }
  @else if $break == "large" {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
   @else {
   	@error "Unable to retrieve a value for `#{$break}`. "
  }
}


//----- Flexbox Settings -----//
@mixin flexbox(
  $display: flex,
  $direction: null,
  $justify: null,
  $align: null) {
   display: $display;
   flex-direction: $direction;
   justify-content:  $justify;
   align-items: $align;
   @content;
}

//----- Grid Style -----//
@mixin grid {
  @include flexbox;
  border-radius: em(5px);
  border: none;
  color: $gray;
  padding: .9em 0 .9em em(15px);
  @content;
}


//----- Center helper -----//
@mixin center($width) {
  width: $width;
  margin: 0 auto;
  @content;
}
