//----- Helpers -----//
%text-center {
  text-align: center;
}

%margin-auto {
    margin: 0 auto;
}

//----- Links -----//
%text-decor-none {
  text-decoration: none;
}

//----- Images -----//

//----- Headlines -----//
%headline-prim {
  color: $primary-color;
}



//----- Nav Items -----//





//----- Buttons ------//
%btn {
  width: 100%;
  padding: 0.75em 0;
  font-family: $font-family--primary;
  font-weight: $font-wt--medium;
  text-transform: uppercase;
  color: $white;
  border: none;
  border-radius: 5px;
  @include flexbox($direction: column, $align: center){
    margin-bottom: em(20px);
  }


}
