
//======================== FONT ==========================//
//----- Font Stack -----//

$font-family--primary: "Neue Helvetica", Helvetica, sans-serif;

//----- Font Weight -----//
$font-wt--thin: 100;
$font-wt--light: 300;
$font-wt--medium: 400;
$font-wt--bold: 700;
$font-wt--ultra-bold: 900;


//======================== COLORS ==========================//
//----- Descriptive Base Colors -----//
$black           : #000;
$gray            : #404040;
$white           : #fff;

$viking          : #58e1c1; //main
$malibu          : #51ddfc; //login/default btn/link
$emerald         : #63CC82; //success btn
$sunglo          : #E4757A; //error btn
$coral           : #FD7856; //warning btn
$purple-majesty  : #927BC1; //info btn
$riptide         : #80E8D1; //grid__col--12
$shakespeare     : #3FABCA; //grid__col--6
$anakiwa         : #7EE6FD; //grid__col--4
$french-lilac    : #DEB2EE; //grid__col--3
$vista-blue      : #88D9A0; //grid__col--5
$sea-pink        : #EC9FA3; //grid__col--7
$vivid-tangerine : #FD9F85; //grid__col--8

//----- Base Colors -----//
$primary-color     : $viking;
$secondary-color   : $malibu;


//----- COLOR MAPS -----//
//----- Grid Theme Colors -----//
$grid-colors: (
    '3' :$french-lilac,    //grid__col--3
    '4' :$anakiwa,         //grid__col--4
    '5' :$vista-blue,      //grid__col--5
    '6' :$shakespeare,     //grid__col--6
    '7' :$sea-pink,        //grid__col--7
    '8' :$vivid-tangerine, //grid__col--8
    '12':$riptide          //grid__col--12
);

//----- Btn Colors -----//
$btn-colors: (
    success    : $emerald,
    error      : $sunglo,
    warning    : $coral,
    info       : $purple-majesty,
    default    : $malibu
);

//==================================================================//

//----- Text -----//
$base__font-size : 16px;
$base__line-height : 24px;


//----- Grid -----//
$g-col-width   : 65px;
$g-col-count   : 12;
$g-gutter-width: 20px;
$max-width     : 1050px;


//----- Breakpoints -----//
$breakpoint-sm    : 1px;
$breakpoint-md    : 768px;
$breakpoint-lg    : 1100px;
