//set btn theme colors
.btn {
  @include m(default){
    margin-top: em(30px);

  }
  @each $theme, $color in $btn-colors {
    &--#{$theme}.theme__colors {
      background: $color;
      margin-bottom: em(25px);
    }
  }
}

//extend btn styles
[class^="btn--"] {
  @extend %btn;

  &:nth-of-type(1){
    margin-top: em(50px);
  }
}
