
.container {
  @include flexbox($direction: column, $justifyContent: center);
  @include center(85%);
  font-family: $font-family--primary;
  font-size: $base__font-size;
  color: lighten($gray, 10%);
}

.grid__row {
  @include flexbox($direction: column, $justifyContent: center);
}

//----- Grid columns -----//
//generate grid__col classes, set background colors
@for $num from 2 through 12 {
  .grid__col--#{$num} {
    @include grid;
    @if map-has-key($grid-colors, #{$num}) {
      &.theme__colors {
        background-color: map-get($grid-colors, #{$num});
      }
    }
  }
}



// .grid__col--2 {}

// .grid__col--3 {

// }

// .grid__col--4 {}
// .grid__col--5 {}
// .grid__col--6 {}
// .grid__col--7 {}
// .grid__col--8 {}
// .grid__col--9 {}
// .grid__col--10 {}
// .grid__col--11 {}
// .grid__col--12 {}
// .centered {}
// .theme__colors {}
