
.container {
  @include center(90%);
  font-family: $font-family--primary;
  font-weight: $font-wt--light;
  font-size: $base__font-size;
  color: palette(grey, x-light);
}

.grid__row {
  &:nth-of-type(5){
  padding-bottom: em(10px);
  }

  &:nth-of-type(6){
  margin-top: em(20px);
  }
}

//grid system
@for $i from 1 through $g-col-count {
  .grid__col--#{$i}.theme__colors {
    @include grid;
    //margin: 0 em(5px) em(50px);
    &:last-of-type {
      margin-bottom: em(50px);
    }
        //margin grid system
        @include media(small){
           margin-bottom: em(6px);
          //  &:last-child {
          //    margin-bottom: em(40px);
          //
          // }
        }
    }
  }


.grid {

  //background color for grid columns
  @include e(col){
    @include grid-bg-color;

  }

 @include e(row){


 }
}






// .centered {}
// .theme__colors {}
