
.container {
  @include center(80%);
  font-family: $font-family--primary;
  font-size: $base__font-size;
  color: lighten($gray, 10%);
}

.grid__row {

}


//----- Grid columns -----//
//generate grid__col classes, set background colors
@for $i from 1 through $g-col-count {
  .grid__col--#{$i} {
    @if map-has-key($grid-colors, #{$i}) {
      &.theme__colors {
        background-color: map-get($grid-colors, #{$i});
        @include grid;

        //margin grid
         @include media(small){
           margin-bottom: em(5px);
           &:last-child {
             margin-bottom: em(40px);
          }
        }

      }
    }
  }
}



// .centered {}
// .theme__colors {}
