
.img {
  @include m(logo){
  @extend %margin-auto;
    display: block;
    padding: em(45px) 0;
  }

  @include m(frame){
    @extend %margin-auto;
    display: block;
    padding: em(15px);
    border: solid 1px palette(grey, xx-light);
    width: 90%;
    margin-top: em(60px);
    margin-bottom: em(30px);
  }

  @include m(avatar){
    @extend %margin-auto;
      display: block;

  }
}
