
.img {
  @include m(logo){
  @extend %margin-auto;
    display: block;
    padding: em(45px) 0;
  }

  @include m(frame){
    padding: em(15px);
    border: solid 1px lighten($gray, 50%);
    width: 100%;
  }

  @include m(avatar){
    @extend %margin-auto;
      display: block;
      padding: em(30px) 0;
  }
}
