
.nav {
  @extend %text-center;
  @include center(95%);
  @include media(medium){
    @include flexbox($direction: row, $justify: space-around);
    width: 60%;
    margin: em(60px) 0 0 em(180px);
  }

  @include e(item) {
    a {
      @extend %text-decor-none;
       display: block;
       padding: em(16px);
       color: lighten($black, 40%);

       &:active,
       &:hover {
         @extend %nav-item-on;
       }
     }
      &:last-child {
       margin-bottom: 60px;
     }

    }
}
