
.nav {
  @extend %text-center;
  @include e(item) {
    a {
      @extend %text-decor-none;
       display: block;
       padding: em(16px);
       color: $gray;
       &:active,
       &:hover {
         background-color: $primary-color;
         border: 1px solid $primary-color;
         border-radius: 5px;
         color: $white;
       }
     }
    }
}









//
// .nav {
//   @include e(item) {
//     @include flexbox($direction: column, $justifyContent: center);
//     @extend %text-center;
//
//     a {
//       @extend %text-decor-none;
//        display: block;
//        padding: em(16px);
//        color: $gray;
//        &:active,
//        &:hover {
//          background-color: $primary-color;
//          border: 1px solid $primary-color;
//          border-radius: 5px;
//          color: $white;
//        }
//      }
//     }
// }
