//----- Navigation -----//
// .nav {
// @include flexbox($direction: column);
//   padding-left: 0;
//
//   @include e(item) {
//     @extend %text-center;
//     padding: em(12px) em(12px);
//     border-radius: 5px;
//
//     a {
//      @extend %text-decor-none;
//     }
//   }
//
// }

.nav {
  @include e(item) {
    @include flexbox($direction: column, $justifyContent: center);
    @extend %text-center;

    a {
      @extend %text-decor-none;
       display: block;
       padding: em(16px);
       color: $gray;
       &:active,
       &:hover {
         background-color: $color-primary;
         border: 1px solid $color-primary;
         border-radius: 5px;
         color: $white;
       }
     }
    }
}
