
.container {
}



.link {
  @extend %text-decor-none;
  color: $secondary-color;
  font-weight: $font-wt--medium;
}

.card {
    @include center(90%);
    padding-top: em(40px);

    p {
      margin-bottom: em(40px);
    }
}


.blockquote {
  @extend %margin-auto;
  display: block;
  width: 85%;
  font-size: em(25px);
  line-height: em(25px);
  font-style: italic;
  border-left: 9px solid $primary-color;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: em(14px);
  margin-top: em(-10px);
  margin-bottom: em(60px);
}

.headline {
  @include m(primary) {
    @extend %headline-prim;
  }

  @include m(secondary){
    @extend %headline-sec;
  }
}
