//----- Base Styles -----//

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.container {
	font-family: $font-family--primary;
	font-weight: 300;
	color: $font-color--primary;
	letter-spacing: 0.5px;
	width:100%;
	text-align: center;
}

ul  {

}

p {

}
